<div class="container" style="border-radius: 5px; background-color: #f2f2f2; padding: 10px">
  <b>
    <h1 style="text-align:center;">Books Store</h1>
  </b>
  <!--displaying the list of books-->
  <div *ngFor="let book of books" class="col" style=" background-color: white">
    <table class="table" id="outertable">
      <tr>
        <td>
          <table class="table" id="innertable">
            <tbody>
              <tr>
                <td width="150px">Title </td>
                <td>: {{ book.title }}</td>
              </tr>
              <tr>
                <td>Author</td>
                <td>: {{ book.author}}</td>
              </tr>
              <tr>
                <td>Price </td>
                <td>: {{book.price}} /-</td>
              </tr>
              <tr>
                <td>Published on </td>
                <td>: {{book.published | date:'dd/mm/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-12">
    <a routerLink="/add-book">
      <button class="btn btn-primary  pull-right ">Back</button>
    </a>
  </div>
</div>